/*
(Dark Mode Elements)
(Dark Mode Background)
(Light Mode Text)
(Light Mode Input)
(Light Mode Background)
(Dark Mode Text & Light Mode Elements)
*/

.lightMode {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 86%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
.darkMode {
  --Dark-Blue: hsl(0, 0%, 100%);
  --Very-Dark-Blue: hsl(0, 0%, 98%);
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(207, 26%, 17%);
  --White: hsl(209, 23%, 22%);
  input {
    background-color: var(--White);
  }
  input::placeholder {
    color: var(--Dark-Blue);
  }
}
html {
  font-size: 62.5%;
  font-family: "Nunito Sans", serif;
  background-color: var(--Very-Light-Gray);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Very-Light-Gray);
  font-size: 1.4rem;
  color: var(--Dark-Blue);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 4rem;
  background-color: var(--White);
  box-shadow: 1rem 0 1rem rgba(0, 0, 0, 0.06);
  button {
    cursor: pointer;
    display: flex;
    color: var(--Dark-Blue);
    justify-content: center;
    gap: 1rem;
    span {
      font-size: 1.8rem;
    }
    font-family: "Nunito Sans", serif;
    letter-spacing: 0.08rem;
    font-size: 1.6rem;
    background: none;
    border: none;
  }
}
.countries-section {
  padding: 4rem 4rem;
  .search-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-bar {
      width: 40rem;
      position: relative;
      .icon {
        position: absolute;
        top: 25%;
        left: 5%;
        color: var(--Dark-Gray);
        font-size: 2rem;
      }
    }
    .filter-header {
      font-size: 1.4rem;
      background-color: var(--White);
      display: flex;
      gap: 4rem;
      align-items: center;
      padding: 2rem;
      margin-bottom: 0.5rem;
      border-radius: 1rem;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.06);
      cursor: pointer;
    }
    .options {
      display: none;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.06);
      background-color: var(--White);
      position: absolute;
      padding: 2rem;
      border-radius: 1rem;

      ul {
        li {
          border-top: solid 0.1rem var(--White);
          border-bottom: solid 0.1rem var(--White);
          cursor: pointer;
        }
        li:hover {
          border-top: solid 0.1rem var(--Dark-Gray);
          border-bottom: solid 0.1rem var(--Dark-Gray);
        }
        width: 14.825rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
      }
    }
  }
  .counties-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    width: 100%;
    gap: 7rem;

    padding: 4rem 0;
    a {
      color: var(--Dark-Blue);
      text-decoration: none;
    }
    .country {
      transition: all 0.5s;

      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.06);
      background-color: var(--White);
      width: 25rem;
      height: 35rem;
      border-radius: 1rem;
      .flag {
        .flag-img {
          width: 100%;
          height: 15rem;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }
      .country-details {
        padding: 3rem 2rem;
        ul {
          list-style: none;
          li {
            font-size: 1.6rem;
            font-weight: 400;
          }
          span {
            font-size: 1.4rem;
            font-weight: 200;
          }
        }
      }
      .country-name {
        font-size: 2rem;

        margin-bottom: 2rem;
      }
    }
    .country:hover {
      transform: translate(0, -3rem);
    }
  }
}

input {
  color: var(--Dark-Blue);
  border-radius: 1rem;

  padding-left: 5rem;
  height: 5rem;
  width: 100%;
  border: none;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.06);
}

.btn-back {
  font-family: "Nunito Sans", serif;
  letter-spacing: 0.08rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--Dark-Blue);
  background-color: var(--White);
  border: none;
  padding: 0.5rem 2rem;
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.217);
  border-radius: 0.8rem;
  margin-bottom: 4rem;
  margin: 4rem 6rem;
  width: 10rem;
}
.btn-back:hover {
  background-color: var(--Dark-Gray);
}
.details {
  display: flex;
  align-items: center;
  height: 40rem;
  gap: 17rem;
  padding: 4rem 6rem;
  .img-box {
    width: 30%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .text-box {
    width: 50%;
    .country-name {
      font-size: 2.8rem;
      margin-bottom: 2.5rem;
    }
    .list-details {
      display: flex;
      gap: 16rem;
      ul {
        list-style: none;
        display: flex;

        flex-direction: column;
        text-align: left;
        gap: 1rem;

        margin-bottom: 6rem;
        li {
          display: flex;
          align-items: center;

          font-size: 1.6rem;
          gap: 0.4rem;
          p {
            font-size: 1.4rem;
            font-weight: 200;
          }
        }
      }
    }
  }
  .borders-container {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 2rem;
    .Borders {
      font-size: 1.4rem;
      font-weight: 200;
      display: flex;
      gap: 2rem;

      list-style: none;
      justify-content: center;
      flex-flow: wrap;
      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--White);
        padding: 0.5rem 2rem;
        box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.214);
        transition: all 1s;
      }
      li:hover {
        background-color: var(--Dark-Gray);
      }
    }
  }
}
